PG_DATABASE_HOST=localhost
PG_DATABASE_PORT=5432
PG_DATABASE_NAME=test
PG_DATABASE_USERNAME=postgres
PG_DATABASE_PASSWORD=your_password
PG_DATABASE_SCHEMA=public
PG_DATABASE_POOL_SIZE=2

MARIA_DATABASE_HOST=localhost
MARIA_DATABASE_PORT=3306
MARIA_DATABASE_NAME=test
MARIA_DATABASE_USERNAME=root
MARIA_DATABASE_PASSWORD=your_password
MARIA_DATABASE_POOL_SIZE=2
